#gambarSampul {
  background-image: url(./img/fotoSampul1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

#logoBpn {
  border-radius: 50%;
}

.avatar {
  margin-top: auto;
  margin-bottom: auto;
}

.middle2 {
  margin-bottom: 100px;
}

#middle3 {
  background-image: url(./img/betty1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kepegawaian-menu {
  margin-top: 50px;
  margin-bottom: 150px;
}

.BPN-logo1 {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

.kepegawaian-title {
  text-align: center;
}

.header-kata1 {
  font-size: 60px;
  margin-top: 250px;
  text-shadow: 2px 2px 4px #000000;
}

.judul-biodata {
  text-align: center;
}

.isi-biodata {
  margin-top: 50px;
}
